<% layout('layout') -%>

<div class="units-row">

  <div class="unit-60">

    <% if (newInvites.length > 0) { %>
      <h2>You have new invites!</h2>
      <% newInvites.forEach(function(invite) { %>
        <div>
          Invited to <%= invite.title %>
          by <%= invite.from %>
          <a href="/invite/accept/<%= invite.id %>">accept</a> |
          <a href="/invite/reject/<%= invite.id %>">reject</a>
        </div>
      <% }); %>
    <% } %>

    <% if (firstRecentChapters.length > 0) { %>

      <h2>What's New</h2>

      <ul class="news">
        <% firstRecentChapters.forEach(function(chapter) { %>
          <li class="news-item <%= new Date().getTime() - chapter.created.getTime() < 3600000 ? 'last-hour' : '' %> <%= new Date().getTime() - chapter.created.getTime() < 86400000 ? 'last-day' : '' %>">
            <a href="/read/<%= chapter.story %>/chapter/<%= chapter._id %>">New Chapter</a> in
              <a href="/read/<%= chapter.story %>"><%= storyNames[chapter.story] %></a>
            by <a href="http://twitter.com/<%= chapter.authorName %>"><%= chapter.authorName %></a>
          </li>
        <% }); %>
      </ul>

    <% } %>

    <% if (restRecentChapters.length > 0) { %>

      <ul class="news more">
        <% restRecentChapters.forEach(function(chapter) { %>
          <li class="news-item <%= new Date().getTime() - chapter.created.getTime() < 3600000 ? 'last-hour' : '' %> <%= new Date().getTime() - chapter.created.getTime() < 86400000 ? 'last-day' : '' %>">
            <a href="/read/<%= chapter.story %>/chapter/<%= chapter._id %>">New Chapter</a> in
              <a href="/read/<%= chapter.story %>"><%= storyNames[chapter.story] %></a>
            by <%= chapter.authorName %>
          </li>
        <% }); %>
      </ul>

    <% } %>

    <h2>My Stories</h2>

    <% if (stories.length < 1) { %>

      No stories yet. Create one to get started!

    <% } %>

    <% stories.forEach(function(story) { %>

      <section class="story">
        <h3><%= story.title %></h3>

        <div class="story-info">
          <span><%= story.theme %></span>

          <% if (story.read === 'public') { %>
            <span>Anyone can read</span>
          <% } else {%>
            <span>Must be invited to read</span>
          <% } %>

          <% if (story.write === 'public') { %>
            <span>Anyone can write</span>
          <% } else if (story.write === 'invite') {%>
            <span>Must be invited to write</span>
          <% } else { %>
            <span>Only you can write</span>
          <% } %>

        </div>

        <a href="/read/<%= story.id %>" class="btn btn-black">Read</a>
        <a href="/write/<%= story.id %>" class="btn btn-blue">Write</a>

        <% if (story.write === 'invite') { %>
          <a href="/invite/<%= story.id %>" class="btn btn-purple">Invite</a>
        <% } %>

        <a href="/delete/<%= story.id %>" class="btn btn-red confirm">Delete</a>
      </section>

    <% }); %>

    <h2>Watching</h2>

    <% if (watching.length < 1) { %>

      You're not watching any stories.

    <% } %>

    <% watching.forEach(function(watching) { %>

      <section class="story">
        <h3><%= watching.title %></h3>

        <div class="story-info">
          <span><%= watching.theme %></span>
          <span>
            <% if (watching.canWrite) { %>
              You can write
            <% } else { %>
              You can only read
            <% } %>
          </span>

          <% if (watching.inviteAccepted) { %>
            <span>Invited</span>
          <% } %>
        </div>

        <a href="/read/<%= watching.story %>" class="btn btn-black">Read</a>

        <% if (watching.canWrite) { %>
          <a href="/write/<%= watching.story %>" class="btn btn-blue">Write</a>
        <% } %>

        <a href="/unwatch/<%= watching.story %>" class="btn btn-orange">Unwatch</a>
      </section>

    <% }); %>
  </div>

  <div class="unit-40">
    <h2>New Story</h2>
    <p>Start a new story and pick a theme. Afterwards you can invite your friends to write it with you.</p>
    <a href="/new" class="btn btn-big btn-blue">Create</a>
  </div>

</div>
