<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/kube.min.css">
    <link rel="stylesheet" href="/css/screen.css">
    <meta name="viewport" content="width=device-width">
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/js/global.js"></script>
    <% if (rss) { %>
      <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= rss %>" />
    <% } %>
  </head>
  <body>
    <header>
      <div id="main-title">
        <div class="wrapper">
          <h1><a href="/home">An Ancient Tome</a></h1>
          <p>Collaborative Interactive Fiction</p>
        </div>
      </div>
      <nav id="main-nav">
        <div class="wrapper">
          <% if (!user) { %>
            <a href="/auth/twitter">Log in with Twitter</a>
          <% } else { %>
            <a href="/home">Home</a>
            <a href="/search">Search</a>
            <a href="/random">Random</a>
            <a href="/manual">Manual</a>
            <a href="/account"><%= user.name %></a>
            <a href="/logout">Log out</a>
          <% } %>
        </div>
      </nav>
    </header>
    <% if (info) { %>
      <% info.forEach(function(msg) { %>
        <div class="flash">
          <div class="wrapper">
            <%= msg %>
          </div>
        </div>
      <% }); %>
    <% } %>
    <% if (error) { %>
      <% error.forEach(function(msg) { %>
        <div class="flash flash-error">
          <div class="wrapper">
            <%= msg %>
          </div>
        </div>
      <% }); %>
    <% } %>
    <% if (reward) { %>
      <% reward.forEach(function(msg) { %>
        <div class="flash flash-reward">
          <div class="wrapper">
            <%= msg %>
          </div>
        </div>
      <% }); %>
    <% } %>
    <div id="content">
      <div class="wrapper">
        <%- body %>
      </div>
    </div>
    <footer>
      <a href="http://incompl.com">About me</a> |
      <a href="http://twitter.com/AnAncientTome">@AnAncientTome</a> |
      <a href="/rss/all">Public RSS</a> |
      <a href="https://github.com/incompl/stories/issues">Report a problem</a> |
      <a href="/tech">Open Source</a>
    </footer>
  </body>
</html>