<!doctype html>
<html>
  <head>
    <title>Stories</title>
    <link rel="stylesheet" href="/css/kube.min.css">
    <link rel="stylesheet" href="/css/screen.css">
    <meta name="viewport" content="width=device-width">
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/js/global.js"></script>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <h1><a href="/home">Stories</a></h1>
        <p>Collaborative Interactive Fiction</p>
      </div>
    </header>
    <nav>
      <div class="wrapper">
        <% if (!user) { %>
          <a href="/auth/twitter">Log in with Twitter</a>
        <% } else { %>
          <a href="/home">Home</a>
          <a href="/search">Search</a>
          <a href="/random">Random</a>
          <a href="/account"><%= user.name %></a>
          <a href="/logout">Log out</a>
        <% } %>
      </div>
    </nav>
    <% if (info) { %>
      <% info.forEach(function(msg) { %>
        <div class="flash">
          <div class="wrapper">
            <%= msg %>
          </div>
        </div>
      <% }); %>
    <% } %>
    <% if (error) { %>
      <% error.forEach(function(msg) { %>
        <div class="flash flash-error">
          <div class="wrapper">
            <%= msg %>
          </div>
        </div>
      <% }); %>
    <% } %>
    <% if (reward) { %>
      <% reward.forEach(function(msg) { %>
        <div class="flash flash-reward">
          <div class="wrapper">
            <%= msg %>
          </div>
        </div>
      <% }); %>
    <% } %>
    <div id="content">
      <div class="wrapper">
        <%- body %>
      </div>
    </div>
    <footer>
      <a href="http://incompl.com">About me</a>
      Happy? Sad? <a href="https://twitter.com/intent/tweet?text=%40_gsmith&source=webclient">Let me know on Twitter!</a>
    </footer>
  </body>
</html>