<% layout('layout') -%>

<div class="units-row">

  <div class="unit-60">

    <h2><%= story.title %></h2>

    <% if (chapters.length < 1) { %>

      <div class="no-chapters">Nothing has yet been written.</div>

    <% } %>

    <% chapters.forEach(function(chapter, i) { %>

      <section class="chapter">

        <h3>Chapter <%= i + 1%></h3>

        <% chapter.formatted.forEach(function(line) { %>
          <p><%= line %></p>
        <% }); %>

        <div class="chapter-info">

          by <a href="http://twitter.com/<%=chapter.authorName %>"><%= chapter.authorName %></a> on <a href="/read/<%= story.id %>/chapter/<%=chapter.id%>"><%= chapter.created.toUTCString() %></a>

        </div>

      </section>

    <% }); %>

    <% if (canWrite) { %>
      <div class="chapter-links">
        <p>
          <% if (story.chaptersLeft > 1) { %>
            <%= story.chaptersLeft %> chapters remaining.
          <% } else if (story.chaptersLeft === 1) { %>
            1 chapter remaining.
          <% } else { %>
            This story is complete.
          <% } %>
        </p>
        <p>
          <a href="/write/<%= story.id %>">
            <% if (story.chaptersLeft > 0) { %>
              <% if (chapters.length === 0) { %>
                Write the next chapter...
              <% } else { %>
                Write the first chapter...
              <% } %>
            <% } %>
          </a>
        </p>
      </div>
    <% } %>

  </div>

  <div class="unit-30 read-sidebar">

    <div class="read-buttons">
      <% if (user && story.owner !== userId && !watching) { %>
        <a href="/watch/<%= story.id %>" class="btn">Watch</a>
      <% } %>
    </div>

    <% if (user && watching) { %>
      <p>You are watching this story. <a href="/unwatch/<%= story.id %>">Unwatch</a></p>
    <% } %>
    <% if (story.read === 'public') { %>
      <p>This story is public. You can share the URL.</p>
    <% } else { %>
      <p>This story can only be read by people who have been invited.</p>
    <% } %>

    <% if (story.write === 'public') { %>
      <p>Anyone can write the next chapter.</p>
    <% } else if (story.write === 'invite') { %>
      <p>Anyone who has been invited can write the next chapter.</p>
    <% } else { %>
      <p>Only the creator can write this story.</p>
    <% } %>

    <% if (rss) { %>
      <a href="<%= rss %>">RSS feed for this story</a>
    <% } %>

  </div>

</div>
