<% layout('layout') -%>

<% if (story.owner !== user.id) { %>

  <div class="side-menu">
    <a href="/watch/<%= story.id %>" class="btn">Watch</a>
  </div>

<% } %>

<h1><%= story.title %></h1>

<% if (chapters.length < 1) { %>

  <div class="no-chapters">Nothing has yet been written.</div>

<% } %>

<% chapters.forEach(function(chapter, i) { %>

  <section class="chapter">

    <h3>Chapter <%= i + 1%></h3>

    <p><%= chapter.text %></p>

    <div class="chapter-info">

      by <a href="http://twitter.com/<%=chapter.authorName %>"><%= chapter.authorName %></a> on <%= chapter.created.toUTCString() %>

    </div>

  </section>

<% }); %>


<% if (canWrite) { %>
  <div class="chapter-links"><a href="/write/<%= story.id %>">
    <% if (chapters.length < 1) { %>
      Write the first chapter...
    <% } else { %>
      Write the next chapter...
    <% } %>
  </a></div>
<% } %>