<% layout('layout') -%>

<form id="chapter-form" method="post" action="/write/<%= story.id %>" class="forms">

  <% if (lastChapter.length < 1) { %>

    <h2>It is time for <cite><%= story.title %></cite> to begin...</h2>

    <p>The theme: <%= story.theme %></p>

    <p class="environment"><%= story.environment[0] %></p>

    <p>Get the story started however you please! Introduce a protagonist, elaborate on the environment, describe the backstory, it's all up to you.</p>

  <% } else { %>

    <p><a href="/read/<%= story.id %>">Back to "<%= story.title %>"</a></p>

    <h2>Write the next chapter</h2>

    <h3>Previous chapter</h3>

    <% lastChapter.forEach(function(chapter, i) { %>

      <section class="chapter">

        <% chapter.formatted.forEach(function(line) { %>
          <p><%= line %></p>
        <% }); %>

        <div class="chapter-info">

          by <a href="http://twitter.com/<%=chapter.authorName %>"><%= chapter.authorName %></a> on <a href="/read/<%= story.id %>/chapter/<%=chapter.id%>"><%= chapter.created.toUTCString() %></a>

        </div>

      </section>

    <% }); %>

    <h3>The Environment</h3>

    <section>

      <% if (story.environment.length === 0) { %>
        <p class="environment">Nothing unusual at this time.</p>
      <% } %>

      <ol>
        <% story.environment.forEach(function(env) { %>
          <li class="environment"><%= env %></li>
        <% }); %>
      </ol>

      <p>You have <span class="influence"><%= influence || 0 %> Influence</span>.</p>

      <input type="radio" name="environment" value="leave" checked> No changes</input><br>
      <% story.environment.forEach(function(env, i) { %>
        <input type="radio" name="environment" value="remove-<%= i + 1 %>"> Remove #<%= i + 1 %> [costs <span class="influence">5 Influence</span>]</input><br>
      <% }); %>
      <input type="radio" name="environment" value="add"> Random Environment addition [costs <span class="influence">10 Influence</span>]</input>

      <p>Your change is applied after you post a new chapter below.</p>

    </section>

    <h3>And now, a dramatic continuation...</h3>

  <% } %>

  <label>
    <textarea id="chapter" name="chapter" rows="10" class="width-100"><%= chapter %></textarea>
    <span id="char-limit"></span>
  </label>

  <input type="submit" class="btn btn-blue btn-big" value="Save">

</form>

<script src="/js/write.js"></script>